body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #34495e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$white: #fff;

.ui.header.white {
  color: $white;
}

.mt {
  margin-top: 20px !important;
}
.w-100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
  &:hover {
    transform: scale(1.09, 1.09);
  }
}
